


.parent-1{
   background-color:rgb(255, 255, 255);
display: flex;
justify-content: space-between;
}
.child-1{
  
   padding:1rem;
   background-color: rgb(208, 126, 223);
   width: 150px;
   height: 50px;
   margin: 0.2cm;


}
.child-2{

    padding:1rem ;
    background-color: rgb(208, 126, 223);
    
    order: +2;
    width: 100px;
    height:50px;
    margin: 0.2cm;
     
}
.parent-2{
    background-color:white;
    display:flex;
    justify-content: center;
   

}
.child-3{
  
    padding:1rem;
    background-color:  rgb(208, 126, 223);
    width: 200px;
    height: 50px;
 }
 .parent-3{
    background-color:rgba(255, 255, 255, 0.411);
    display:flex;
    justify-content: center;
   

}

 .child-4{
 
     padding:1rem ;
     background-color: rgb(208, 126, 223);
    
     width: 100px;
     height:1px;
      
 }
/* body{
    border: 2px solid black;
 
} */
.head1{
    background-color: rgb(208, 126, 223);
    margin: 1%;
    padding: 2%;
}
.parent4{
    display:flex;
    justify-content: space-between;

    


}
.child5{
    background-color: grey;
   flex: 0.3;
    align-self: center;
    height: 20px;
   

}
.child6{
    background-color: grey;
   flex: 0.3;
   height: 60px;
}
.child7{ 
    background-color: grey;
   flex: 0.3;
   height: 20px;
   align-self: center;
}
    
.parent5{
    display:flex;
    justify-content: space-between;
    


}
.child8{
    background-color: grey;
   
    height: 20px;
    align-self: center;
    flex: 0.3;
  

}
.child9{
    background-color: grey;

    height: 100px;
    flex: 0.65;
}
   
.parent6{
    display:flex;
    justify-content: space-around;
}
.child10{ 
    background-color: grey;
    flex: 0.3;
    height: 20px;
  
    
}
.parent7{
    display:flex;
    justify-content: space-evenly;
}
.child11{
  
   flex: 0.25;
    height: 50px;
   
   

}

.child12{
    background-color: grey;
   flex: 0.25;
    height: 60px;
   
   

}
.child13{
    background-color: grey;
  flex: 0.30;
    height: 32px;
    align-self: center;
   
  
}
.head2{
    display: flex;
    padding:1%;
    /* border-bottom: 2px solid black; */
    
}
.parent8{
    display:flex;  justify-content: flex-start;
    flex: 0.8;
    gap: 10px;
  
}
.child14{
    background-color: rgb(208, 126, 223);
   flex:0.3;
    height: 50px;
    border: 1px solid black;

}

.child15{
    background-color: rgb(208, 126, 223);
   flex:0.3;
    height: 50px;
    border: 1px solid black;

}
.child16{
    background-color: rgb(208, 126, 223);
  flex:0.3;
    height: 50px;
   
    border: 1px solid black;
}
.parent9{
    display:flex;  justify-content: flex-end;
    flex: 0.2;
    gap: 10px;
}
.child17{
    background-color: grey;
  flex: 0.6;
    height: 20px;
    align-self: center;
    
    
  
}
.head3{
    background-color: rgb(208, 126, 223);
     margin-top: -1.4%;
     border: 1px solid black;
    
     padding: 2%;
     /* margin-left: -2px;
     margin-right: -2px;
     */
     
  
}
.parent10{
    display:flex;
    justify-content: space-between;
}
.child18{
    background-color: grey;
    flex: 0.3;
    height: 60px;
}
.child19{
    background-color:grey;
    flex: 0.3;
    height: 60px;
}
.parent11{
    display:flex;
}
.child20{
    background-color: grey;
    flex: 0.1;
    height: 20px;
}
.parent12{
    display:flex;
    justify-content: space-between;
}
.child21{
    background-color: grey;
    flex: 0.835;
    height: 60px;
}
.child22{
    background-color:grey;
    flex: 0.15;
    height: 60px;
}
.parent13{
    display:flex;
    
}
.child23{
    background-color: grey;
    flex: 0.385;
    height: 20px;
}
.parent14{
    display: flex;

}
.child24{
    background-color: grey;
    flex: 1;
    height: 60px; 
}
.parent15{
    display:flex;
}
.child25{
    background-color: grey;
    flex: 0.1;
    height: 20px;
}    
.parent16{
    display: flex;

}
.child26{
    background-color: grey;
    flex: 0.835;
    height: 60px; 
}
.parent17{
    display:flex;
    justify-content: flex-end;
}
.child27{
    background-color: grey;
    flex: 0.1;
    height: 20px;
}   
.parent18{
    display: flex;
    justify-content: flex-end;

}
.child28{
    background-color: grey;
    flex: 0.835;
    height: 60px; 
} 
.parent19{
    display:flex;
}
.child29{
    background-color: grey;
    flex: 0.1;
    height: 20px;
}    
.parent20{
    display: flex;

}
.child30{
    background-color: grey;
    flex: 0.835;
    height: 60px; 
}
.parent{
    display:flex;
    justify-content: space-between;
    /* background-color:  rgb(208, 126, 223); */
   margin-top: 5px;
    
}
.son1{
    background-color: grey;
    flex: 0.15;
    height: 10px;
   
}
.son2{
    background-color:grey;
    flex: 0.5;
    height: 10px;
}
.head{
    border: 1px solid black;
}
      


        /* flexbox finished */